@font-face {
    font-family: DecimaMonoPro;
    src: url('../assets/fonts/DecimaMonoPro.ttf');
}

@font-face {
    font-family: DecimaMonoPro;
    src: url('../assets/fonts/DecimaMonoProBold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: DINCondensed;
    src: url('../assets/fonts/DINCondensedBold.ttf');
}

@font-face {
    font-family: HelveticaNeue;
    src: url('../assets/fonts/HelveticaNeueLTProRoman.otf');
}