// sizing & spacing
$headerHeight: 90px;
$fullWidthPaddingH-lg: 50px;
$fullWidthPaddingH-md: 20px;
$maxWidthLg: 1185px;
$maxWidthMd: 900px;

// fonts & text
$fontMono: DecimaMonoPro, monospace;
$fontHeading: DINCondensed, sans-serif;
$headingLineHeight: 0.8;

// colors
$primary: #23CF70;
$white: #ffffff;