// sizing & spacing
$headerHeight: 90px;
$fullWidthPaddingH-lg: 50px;
$fullWidthPaddingH-md: 20px;
$maxWidthLg: 1185px;
$maxWidthMd: 900px;

// fonts & text
$fontMono: DecimaMonoPro, monospace;
$fontHeading: DINCondensed, sans-serif;
$fontBody: HelveticaNeue, sans-serif;
$headingLineHeight: 0.85;

// colors
$white: #FFFFFF;
$black: #000000;
$primary: #23CF70;
$primaryLight: #77F971;
$darkBlue: #060F1B;
$darkGray: #3B3B47;
$textColor: #82878D;