<section class="Section About" id="about">
    <div class="About-innerWrapper">
        <div class="About-circle"></div>
        <div>
            <h1 class="About-title" data-i18n="about.title">About imetriq</h1>
            <p class="About-text" data-i18n="about.text1">
                EN IMETRIQ ACOMPAÑAMOS A LAS MARCAS EN SU PROCESO DE
                DIGITALIZACIÓN DE LA INFORMACIÓN DESDE EL MOMENTO CERO PARA
                ASEGURARNOS LA CORRECTA ESTRUCTURACIÓN Y ORDENAMIENTO DE SU
                INFORMACIÓN Y ASÍ LA MAXIMIZACIÓN DE SU USO APLICADA A
                “BUSINESS INTELLIGENCE”.
            </p>
            <p class="About-text" data-i18n="about.text2">
                NUESTRA PLATAFORMA BUSCA ROMPER LOS PARADIGMAS ACTUALES DE LA
                INDUSTRIA PUBLICITARIA MEDIANTE LA SOFISTICACIÓN DE PROCESOS.
                UNIFICANDO Y CONECTANDO DATA PARA DESBLOQUEAR INSIGHTS
                ACCIONABLES QUE GUÍEN LA TOMA DE DESICIONES EJECUTIVAS.
            </p>
        </div>
    </div>
</section>
