<section class="Section Contact" id="contact">
    <div class="Container Contact-innerWrapper">
        <h1>
            STAY IN THE<br>
            DATA KNOWLEDGE
        </h1>
        <h2>
            Request a demo
        </h2>

        <form>
            <div class="Contact-inputContainer">
                <input type="text" placeholder="Full name*" name="full-name">
                <input type="text" placeholder="e-mail*" name="email">
            </div>
            
            <button>Enquire <img src="assets/contact-arrow-icon.svg" alt="Enquire"></button>
        </form>

        <div class="Contact-linksContainer">
            <a href="" class="Contact-link">Terms & conditions</a>
            <a href="" class="Contact-link">Privacy policy</a>
        </div>
    </div>
</section>