<section class="Section Contact" id="contact">
    <div class="Container Contact-innerWrapper">
        <h1 data-i18n="[html]contact.title">
            STAY IN THE<br>
            DATA KNOWLEDGE
        </h1>
        <h2 data-i18n="contact.subtitle">
            Request a demo
        </h2>

        <form>
            <div class="Contact-inputContainer">
                <input type="text" data-i18n="[placeholder]contact.name" placeholder="Full name*" name="full-name" required>
                <input type="email" data-i18n="[placeholder]contact.email" placeholder="e-mail*" name="email" required>
            </div>
            
            <button type="submit">
                <span data-i18n="contact.submit">Enquire</span>
                <img src="assets/contact-arrow-icon.svg" alt="Enquire">
            </button>
        </form>

        <div class="Contact-snackBar">Enviado</div>

        <div class="Contact-linksContainer">
            <a href="" class="Contact-link" data-i18n="contact.terms">Terms & conditions</a>
            <a href="" class="Contact-link" data-i18n="contact.privacy">Privacy policy</a>
        </div>
    </div>
</section>