<section class="Section Home" id="home">
    <div class="Home-backgroundLeft"></div>
    <div class="Home-backgroundRight"></div>
    <div class="Home-innerWrapper">
        <h1 class="Home-title">Smart decisions</h1>
        <div class="Container Home-container">
            <h2 class="Home-mainText">
                “PUEDES TENER DATOS SIN<br>
                INFORMACIÓN, <span class="u-textPrimary">PERO NUNCA TENDRÁS<br>
                INFORMACIÓN SIN DATOS”</span>
            </h2>

            <a href="#about" class="Home-viewMore">
                <img src="assets/circle-arrow-down.svg" alt="Ver más">
            </a>
        </div>
    </div>
</section>
