<section class="Section HowItWorks" id="how-it-works">
    <div class="Container HowItWorks-innerWrapper">
        <div class="HowItWorks-headingContainer">
            <h1 data-i18n="howItWorks.title">Nuestro camino es simple</h1>
        </div>
        <div class="HowItWorks-contentContainer">
            <div class="HowItWorks-step">
                <h2 data-i18n="howItWorks.stepTitle1">
                    Auditar
                </h2>
                <div class="HowItWorks-chip nth1">
                    <h3 data-i18n="howItWorks.chip1">
                        Data start
                    </h3>
                </div>
                <p data-i18n="howItWorks.text1">
                    Desarrollo de arquitectura de
                    datos y clarificación de próximos
                    pasos para embarcarse en el
                    “data journey”
                </p>
            </div>

            <div class="HowItWorks-step">
                <h2 data-i18n="howItWorks.stepTitle2">
                    Visualizar
                </h2>
                <div class="HowItWorks-chip nth2">
                    <h3 data-i18n="howItWorks.chip2">
                        Data visualize
                    </h3>
                </div>
                <p data-i18n="howItWorks.text2">
                    Maximizar el poder de tu data
                    mediante visualizaciones de
                    dashboards y reportes
                </p>
            </div>

            <div class="HowItWorks-stepWrapper">
                <h2 data-i18n="howItWorks.stepTitle3">
                    Optimizar
                </h2>

                <div class="HowItWorks-stepWrapperInner">
                    <div class="HowItWorks-step">
                        <div class="HowItWorks-chip nth3">
                            <h3 data-i18n="howItWorks.chip3">
                                Data analyze
                            </h3>
                        </div>
                        <p data-i18n="howItWorks.text3">
                            Mediante la aplicación y
                            el modelado de la data podremos
                            descubrir insights que no están
                            accesibles a simple vista
                        </p>
                    </div>
    
                    <div class="HowItWorks-step">
                        <div class="HowItWorks-chip nth4">
                            <h3 data-i18n="howItWorks.chip4">
                                Process automation
                            </h3>
                        </div>
                        <p data-i18n="howItWorks.text4">
                            Integración de procesos
                            automáticos de control para la
                            optimización de tiempos
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>