<header class="SiteHeader" id="site-header">
    <h1 class="SiteHeader-logoContainer">
        <a href="#home" class="scroll-to">
            <img src="assets/logo.svg" alt="imetriq" class="SiteHeader-logo">
        </a>
    </h1>

    <nav class="SiteHeader-nav">
        <a href="#about" data-i18n="nav.about" class="scroll-to">About imetriq</a>
        <a href="#solutions" data-i18n="nav.solutions" class="scroll-to">Solutions</a>
        <a href="#how-it-works" data-i18n="nav.howItWorks" class="scroll-to">How it works</a>
        <a href="#contact" data-i18n="nav.contact" class="scroll-to">Contact us</a>
        <button data-translate-to="en" onclick="imetriq.header.translate(this)" class="SiteHeader-translateButton">
            <span>ENG</span>
        </button>
        <!-- <button class="isSelected" onclick="imetriq.header.translate('es', this)">[ES]</button>
        <button onclick="imetriq.header.translate('en', this)">[EN]</button> -->
    </nav>

    <div class="SiteHeader-hamburger">
        <span></span>
        <span></span>
    </div>

    <div class="SiteHeader-mobileMenu">
        <div class="Section">
            <nav class="SiteHeader-mobileNav">
                <a href="#about" data-i18n="nav.about" class="scroll-to">About imetriq</a>
                <a href="#solutions" data-i18n="nav.solutions" class="scroll-to">Solutions</a>
                <a href="#how-it-works" data-i18n="nav.howItWorks" class="scroll-to">How it works</a>
                <a href="#contact" data-i18n="nav.contact" class="scroll-to">Contact us</a>
                <button data-translate-to="en" onclick="imetriq.header.translate(this)" class="SiteHeader-translateButton">
                    <span>ENG</span>
                </button>
                <div>
                    <!-- <button class="isSelected" onclick="imetriq.header.translate('es', this)">[ES]</button>
                    <button onclick="imetriq.header.translate('en', this)">[EN]</button> -->
                </div>
            </nav>
    
            <div>
                <a href="https://www.linkedin.com/company/imetriq" target="_blank">
                    <img src="assets/linkedin.svg" alt="LinkedIn">
                </a>
                <p>ALL RIGHTS RESERVED © 2020 — IMETRIQ</p>
            </div>
        </div>
    </div>
</header>