<header class="SiteHeader row" id="site-header">
    <h1>
        <a href="#home" class="scroll-to">
            <img src="assets/logo.svg" alt="imetriq" class="SiteHeader-logo">
        </a>
    </h1>

    <nav class="SiteHeader-nav">
        <a href="#about" class="scroll-to">About imetriq</a>
        <a href="#solutions" class="scroll-to">Solutions</a>
        <a href="#how-it-works" class="scroll-to">How it works</a>
        <a href="#contact" class="scroll-to">Contact us</a>
    </nav>
</header>