<section class="Section Solutions" id="solutions">
    <div class="Container Solutions-innerWrapper">
        <div class="Solutions-column">
            <h1 class="Solutions-title">
                Un producto orientado a la sofisticación<br>de procesos con foco en la<br>
                <span class="Solutions-titleHighlight">
                    maximización<br> del ROI
                    <img src="assets/solutions-title-icon.svg" class="Solutions-titleIcon" alt="Maximización del ROI">
                </span>
            </h1>
        </div>
        <div class="Solutions-column Solutions-contentContainer">
            <div class="Solutions-contentBlock">
                <div class="Solutions-iconContainer">
                    <img src="assets/solutions-connect-icon.svg" alt="Conectar y unificar data">
                </div>
                <h2>
                    Conectar y<br>unificar data
                </h2>
                <p>
                    Integración, estructuración y clasificación de la información mediante integraciones tecnológicas.
                </p>
            </div>

            <div class="Solutions-contentBlock">
                <div class="Solutions-iconContainer">
                    <img src="assets/solutions-reports-icon.svg" alt="Conectar y unificar data">
                </div>
                <h2>
                    Reportes y<br>data science
                </h2>
                <p>
                    Visualizaciones orientadas a UX UI enfocadas en el descubrimiento de insights.
                </p>
            </div>

            <div class="Solutions-contentBlock">
                <div class="Solutions-iconContainer">
                    <img src="assets/solutions-model-icon.svg" alt="Conectar y unificar data">
                </div>
                
                <h2>
                    Modelado<br>de data
                </h2>
                <p>
                    Aplicación de modelos predictivos y deductivos que anticipan tendencias futuras y permiten la adaptación temprana de estrategias de negocio.
                </p>
            </div>

            <div class="Solutions-contentBlock">
                <div class="Solutions-iconContainer">
                    <img src="assets/solutions-check-icon.svg" alt="Conectar y unificar data">
                </div>
                <h2>
                    Co-planificación y<br>sistema de aprobaciones
                </h2>
                <p>
                    Centralización información en un sistema único con integraciones de alertas y documentación de aprobaciones.
                </p>
            </div>

        </div>
    </div>
</section>
