.u-flexCenter {
    justify-content: center !important;
}

.u-flexJustifyStart {
    justify-content: flex-start !important;
}

.u-flexJustifyEnd {
    justify-content: flex-end !important;
}

.u-flexSpaceBetween {
    justify-content: space-between !important;
}

.u-flexAlignCenter {
    align-items: center;
}