.Contact {
    background-image: url('../assets/contact-bg-1.jpg');
    background-size: 70vw;
    background-repeat: no-repeat;
    background-position: right center;
    position: relative;
    display: flex;

    @include sm-down {
        background-image: none;
    }
    
    .Contact-innerWrapper {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin-top: -$headerHeight;
        justify-content: center;

        h1 {
            font-size: 10rem;
            color: $primary;
            margin-bottom: 20px;

            @include lg-down{
                font-size: 6rem;
            }

            @include sm-down {
                font-size: 5rem;

                br {
                    content:' ';
                }
                br:after {
                    content:' ';
                }
            }
        }

        h2 {
            font-size: 4rem;
            color: $textColor;
            margin-bottom: 20px;

            @include lg-down {
                font-size: 2.5rem;
            }
        }

        .Contact-inputContainer {
            display: flex;

            @include sm-down {
                flex-direction: column;
            }
        }

        input {
            font-size: 4rem;
            padding: 25px 50px 15px;
            border: none;
            margin: 0;
            height: 88px;
            font-family: $fontHeading;
            width: 40%;
            text-transform: uppercase;

            @include lg-down {
                font-size: 2.5rem;
                height: 66px;
            }

            @include sm-down {
                width: 100%;
                height: 66px;
                padding: 20px 25px 10px;
            }

            &:first-child {
                border-radius: 44px 0 0 44px;
                border-right: 1px solid $black;

                @include lg-down {
                    border-radius: 33px 0 0 33px;
                }

                @include sm-down {
                    border-radius: 33px;
                    margin-bottom: 20px;
                }
            }

            &:last-child {
                border-radius: 0 44px 44px 0;

                @include lg-down {
                    border-radius: 0 33px 33px 0;
                }

                @include sm-down {
                    border-radius: 33px;
                }
            }
        }

        button {
            background: $primary;
            font-size: 4rem;
            font-family: $fontHeading;
            text-transform: uppercase;
            border: none;
            height: 88px;
            padding: 25px 50px 15px;
            border-radius: 44px;
            margin-top: 40px;
            display: flex;
            cursor: pointer;
            transition: width .5s ease-in-out, box-shadow .3s ease-in-out;

            @include lg-down {
                height: 66px;
                font-size: 2.5rem;
                border-radius: 33px;
                padding: 20px 50px 15px;
            }

            @include sm-down {
                padding: 20px 25px 10px;
            }
            
            &:hover {
                box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.7);
            }

            &::after {
                content: '';
                width: 35px;
                height: 35px;
                border: 5px solid $black;
                border-radius: 100%;
                margin-left: 85px;
                display: none;

                @include lg-down {
                    width: 25px;
                    height: 25px;
                    margin-left: 65px;
                }
            }

            &.isLoading {
                
                img {
                    display: none;
                }

                &::after {
                    display: block;
                    border-top: 5px solid transparent;
                    animation: loading infinite linear 1s
                }
                
            }

            img {
                transform: rotate(180deg);
                display: inline-block;
                width: 60px;
                margin-left: 60px;

                @include lg-down {
                    width: 40px;
                    margin-left: 40px;
                }
            }
        }

        .Contact-linksContainer {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 50%;
            display: flex;
            justify-content: space-around;
            height: 50px;

            a {
                text-transform: uppercase;
                font-family: $fontMono;
                color: $textColor;
                font-size: 2rem;
            }

            @include sm-down {
                width: 100%;
                align-items: center;
                display: flex;
                flex-direction: column;
                padding-bottom: 10px;

                a {
                    font-size: 1.5rem;
                }
            }
        }
    }

    .Contact-snackBar {
        position: fixed;
        bottom: 20px;
        width: 50vw;
        left: 25vw;
        padding: 20px;
        color: $black;
        border-radius: 10px;
        z-index: 1001;
        font-weight: bold;
        display: none;

        &--success {
            background: $primary;
        }

        &--error {
            background: $error;
        }

        &.isVisible  {
            display: block;
        }
    }
}