.Home {
    padding: 0 $fullWidthPaddingH-lg;

    @include md {
        padding: 0 $fullWidthPaddingH-md;
    }

    .Home-innerWrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    
    .Home-title {
        font-family: $fontMono;
        font-size: 3.4rem;
        text-transform: uppercase;
        color: $white;
        font-weight: normal;
    }

    .Home-mainText {
        font-size: 10rem;
        font-family: $fontHeading;
        color: $white;
        line-height: $headingLineHeight;
    }

    .Home-container {
        flex: 1;
        display: flex;
        align-items: center;
    }
}