.HowItWorks {
    background: $white;

    @include sm-down {
        &.Section {
            height: auto;
        }
    }

    .HowItWorks-innerWrapper {
        height: 100%;
        margin-top: -$headerHeight;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include lg-down {
            margin-top: auto;
        }

        @include md {
            margin-top: -$headerHeight-md
        }

        @include sm-down {
            margin-top: 0;
        }
    }

    .HowItWorks-headingContainer {
        
        h1 {
            font-size: 4rem;
            width: 50%;
            margin-left: 50%;
            margin-bottom: 100px;
    
            @include lg-down {
                font-size: 2.7rem;
                margin-bottom: 20px;
            }

            @include sm-down {
                width: 100%;
                margin: 20px 0;
            }
        }
    }

    .HowItWorks-contentContainer {
        display: flex;

        @include sm-down {
            flex-direction: column;
            padding-bottom: 40px;
        }

        h2 {
            font-family: $fontBody;
            font-size: 2rem;
            text-align: center;
            padding: 40px 0;

            @include lg-down {
                font-size: 1.8rem;
            }

            @include sm-down {
                transform: rotate(-90deg);
                position: absolute;
                left: -35px;
                padding: 0;
                top: calc(50% - 15px);
                text-align: center;
                width: 110px;
                height: 30px;
                font-size: 1.6rem;
            }
        }

        p {
            font-size: 2rem;
            padding: 40px;

            @include lg-down {
                font-size: 1.4rem;
            }

            @include sm-down {
                padding: 0 0 0 15px;
            }
        }
    }

    .HowItWorks-stepWrapper {
        display: flex;
        flex-direction: column;
        width: 50%;
        border-left: 1px solid $black;

        @include sm-down {
            width: 100%;
            position: relative;

            border-left: none;
            border-top: 1px solid $black;
        }

        .HowItWorks-stepWrapperInner {
            display: flex;

            @include sm-down {
                flex-direction: column;
            }
        }
    }

    .HowItWorks-step {
        flex: 1;

        @include sm-down {
            display: flex;
            position: relative;
            padding-left: 30px;
            align-items: center;
        }
    }

    .HowItWorks-chip {
        padding: 30px 0;
        text-align: center;
        font-size: 4rem;
        
        @include lg-down {
            font-size: 2.5rem;
        }

        @include sm-down {
            min-width: 70px;
            max-width: 70px;
            position: relative;
            height: 270px;
        }

        h3 {
            color: $white;

            @include sm-down {
                transform: rotate(-90deg);
                position: absolute;
                font-size: 2.4rem;
                width: 240px;
                left: -78px;
                top: calc(50% - 15px);
                height: 30px;
            }
        }
    }

    .HowItWorks-chip.nth1 {
        background: $black;
        border-radius: 60px 0 0 60px;

        @include sm-down {
            border-radius: 60px 60px 0 0;
        }
    }

    .HowItWorks-chip.nth2 {
        background: $darkGray;
    }

    .HowItWorks-chip.nth3 {
        background: $primaryLight;
        
        h3 {
            color: $black;
        }
    }

    .HowItWorks-chip.nth4 {
        background: $primary;
        border-radius: 0 60px 60px 0;
        
        @include sm-down {
            border-radius: 0 0 60px 60px;
        }
        
        h3 {
            color: $black;
        }
    }
}