.SiteHeader {
    display: flex;
    justify-content: space-between;
    padding: 30px $fullWidthPaddingH-lg;
    position: fixed;
    z-index: 1000;
    height: $headerHeight;
    
    @include md {
        padding: 30px $fullWidthPaddingH-md;
    }

    .SiteHeader-logo {
        width: 98px;
    }

    .SiteHeader-nav {
        font-family: $fontMono;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 2.5rem;

        @include sm-down {
            display: none;       
        }
        
        a {
            color: $white;
            margin-right: 50px;

            &:last-child{
                margin-right: 0;
            }

            @include md {
                margin-right: 20px;
            }
        }
        
    }
}